<!DOCTYPE html>
<html>
    <head>
        <title> Movies App </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            {% for news in newss %}
                <h2> {{ news.headline }} </h2>
                <h5> {{ news.date }} </h5>
                <p> {{ news.body }} </p>
            {% endfor %}
        </div>
    </body>
</html>